<p>
  friend works!
</p>
<div class='friend-container'>
  <h2>Info about your friend</h2>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Id</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="id" name="friendId" disabled>
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="nameFriend" name="nameFriend">
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="emailFriend" name="emailFriend">
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Phone</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="phoneFriend" name="phoneFriend">
  </div>
  <button class="btn btn-primary" routerLink="../../friends">Back to Friends</button>
  <!-- <button class="btn btn-primary" (click)="saveChanges()">Save changes</button> -->
</div>