<p>
  form works!
</p>

<h2>Enter information about your friend</h2>

<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
    </div>
    <input type="text" class="form-control" name="name" formControlName="friendName" placeholder="enter name" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['friendName'].invalid && myForm.controls['friendName'].touched">
      Please enter your name
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
    </div>
    <input class="form-control" name="email" formControlName="friendEmail" placeholder="enter email"/>

    <div class="alert alert-danger"
         *ngIf="myForm.controls['friendEmail'].invalid && myForm.controls['friendEmail'].touched">
      Incorrect email
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Phone number (optional)</span>
    </div>
    <input class="form-control" name="phone" formControlName="friendPhone" placeholder="enter phone" />
  </div>

  <div class="form-group">
    <button class="btn btn-default" [disabled]="myForm.invalid">
      Write down
    </button>
  </div>
</form>


<!--(input)="onPhoneChange()" [required]="phoneRequired" pattern="(0[1-9]{1}|1[0-2]{1}).\d{4}$"-->
