<p>
  map works!
</p>
<!-- <h1>Angular Google Maps (AGM) Demo</h1>
<p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p> -->

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <!-- <strong>{{description[i]['text']}}</strong> -->
      <!-- <input class="agm-info-window-input" [placeholder]="description[i]['text']"> -->

      <!-- <div class="agm-info_text" contenteditable="true">{{description[i]['text']}}</div> -->

      <div class="agm-info_text" contenteditable="true" placeholder="Nice place" (blur)="editInfoText($event, i)">{{markers[i]['text']}}</div>
      
      <!-- <img *ngIf="imgShow[i]"> -->

      <div class="agm-info_img" *ngIf="markers[i]['imgShow']" [ngStyle]="{'background-image':'url(' + markers[i]['imgPath'] + ')'}"> 
      </div>

      <!-- <button class="agm-info_button" (click)="saveDescrChanges($event ,i)"><i class="fa fa-save"></i></button> -->
      
      <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-plus"></i> img
      </label>
      <input id="file-upload" type="file" (change)="readURL($event, i)"/>

      <button class="agm-info_button" (click)="deleteImg(i)"><i class="fa fa-minus"></i> img</button>

      
      <button class="agm-info_button" (click)="deleteDescr(i)"><i class="fa fa-trash"></i></button>
    </agm-info-window>
    
  </agm-marker>
  
  <!-- <agm-circle [latitude]="lat" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>