agm-map {
    height: 600px;
}
  
a {
    color: darkblue;
}

img {
    display: block;
    height: 120px;
    width: 150px;
    border: 2px solid green;
    border-radius: 3px;
    margin: 0 0 3px;
}

.agm-info_button {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(207, 195, 195);
    margin-right: 1px;
}

.agm-info_button:hover {
    background-color: white;
}

.agm-info_text {
    width: 150px;
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    margin: 0 0 3px;
}

.agm-info_img {
    height: 120px;
    width: 150px;
    // border: 2px solid green;
    border-radius: 3px;
    margin: 0 0 3px;
    background-size: cover;
    background-position: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(207, 195, 195);
    margin-right: 1px;
}

.custom-file-upload:hover {
    background-color: white;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
  }