<p>
  container works!
</p>

<div class="container-buttons">
  <button class="btn btn-primary" routerLink="./" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Main</button>
  <button class="btn btn-primary" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}" routerLink="./form">Add friend</button>
  <button class="btn btn-primary" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}" routerLink="./friends">Friends</button>
  <button class="btn btn-primary" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}" routerLink="./exit">Exit</button>
</div>

<router-outlet></router-outlet>
