<p>
  list works!
</p>

<ul>
  <li *ngFor="let record of records, let i = index" class="tasks">
    <div class="input-group mb-3">
      <div class="form-control form-control-field" [ngClass]="{editable: i==iFromEdit}" [attr.contenteditable]="i==iFromEdit" 
          (blur)="blurFromRecord(i)" (click)="edit(i)">{{record['text']}}</div>
      <div class="input-group-append append-field">
        <!--we can get some value in parent from like()-->
        <button class="btn btn-outline-secondary" type="button" (click)="like(23)">+ karma</button>
        <button class="btn btn-outline-secondary" type="button" (click)="addSub(i)"><i class="fa fa-plus"></i></button>
        <button class="btn btn-outline-secondary" type="button" (click)="edit(i)"><i class="fa fa-edit"></i></button>
        <button class="btn btn-outline-secondary" type="button" (click)="done(i)"><i class="fa fa-check"></i></button>
        <button class="btn btn-outline-secondary" type="button" (click)="deleteRecord(i)"><i class="fa fa-trash"></i></button>
      </div>
    </div>

    <ul class="ul-sub">
      <li class="li-sub drag-boundary" [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds
          *ngFor="let subTreeItem of dataService.arrAddedText[i]['subtree'], let j = index"
          >

        <div class="input-group mb-3 drag-block" ngDraggable (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds"
             (started)="onStart($event)" (stopped)="onStop($event)" (endOffset)="onMoveEnd($event, i, j)">
          <div class="form-control form-control-field sub-task" [ngClass]="{editableSub: (j==jFromEditSub && i==iFromEditSub), doneSub: dataService.arrAddedText[i]['subtree'][j]['done']}" [attr.contenteditable]="j==jFromEditSub" 
              (blur)="blurFromSubRecord(i, j)" (click)="editSub(i, j)">{{subTreeItem.subText}}</div>
          <div class="input-group-append append-field">
            <button class="btn btn-outline-secondary" type="button" (click)="editSub(i, j)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-outline-secondary" type="button" (click)="doneSub(i, j)"><i class="fa fa-check"></i></button>
            <button class="btn btn-outline-secondary" type="button" (click)="deleteSub(i, j)"><i class="fa fa-trash"></i></button>
          </div>
        </div>

      </li>
    </ul>

  </li>
</ul>

<div class="done" *ngIf="dataService.arrDoneRecords[0]">Done:</div>
<ul>
  <li *ngFor="let doneRecord of dataService.arrDoneRecords, let i = index">
    <div class="input-group mb-3">
      <div class="form-control">{{doneRecord['text']}}</div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="deleteDoneRecord(i)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </li>
</ul>

