<!--<p>-->
  <!--list works!-->
<!--</p>-->

<ul>
  <li *ngFor="let record of records, let i = index">
    <div class="input-group mb-3">
      <div class="form-control" [ngClass]="{editable: i==iFromEdit}" [attr.contenteditable]="i==iFromEdit" (blur)="blurFromRecord(i)">{{record['text']}}</div>
      <div class="input-group-append">
        <!--we can get some value in parent from like()-->
        <button class="btn btn-outline-secondary" type="button" (click)="like(23)">Like</button>
        <button class="btn btn-outline-secondary" type="button" (click)="addSub(i)">Add sub</button>
        <button class="btn btn-outline-secondary" type="button" (click)="edit(i)">Edit</button>
        <button class="btn btn-outline-secondary" type="button" (click)="done(i)">Done</button>
        <button class="btn btn-outline-secondary" type="button" (click)="deleteRecord(i)">Delete</button>
      </div>
    </div>

    <ul class="ul-sub">
      <li class="li-sub drag-boundary" [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds
          *ngFor="let subTreeItem of dataService.arrAddedText[i]['subtree'], let j = index"
          >

        <div class="input-group mb-3 drag-block" ngDraggable (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds"
             (started)="onStart($event)" (stopped)="onStop($event)" (endOffset)="onMoveEnd($event)">
          <div class="form-control" [ngClass]="{editableSub: (j==jFromEditSub && i==iFromEditSub) }" [attr.contenteditable]="j==jFromEditSub" (blur)="blurFromSubRecord(i, j)">{{subTreeItem}}</div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="editSub(i, j)">Edit</button>
            <button class="btn btn-outline-secondary" type="button" (click)="deleteSub(i, j)">Delete</button>
          </div>
        </div>

      </li>
    </ul>

  </li>
</ul>

<div class="done" *ngIf="dataService.arrDoneRecords[0]">Done:</div>

<ul>
  <li *ngFor="let doneRecord of dataService.arrDoneRecords, let i = index">
    <div class="input-group mb-3">
      <div class="form-control">{{doneRecord['text']}}</div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="deleteDoneRecord(i)">Delete</button>
      </div>
    </div>
  </li>
</ul>

