.editable {
  border-color: green;
}

.editableSub {
  border-color: green;
}

.done {
  height: 30px;
  font-size: 16px;
}

ul {
  margin-top: 1rem;
  list-style: none;
}

.ul-sub {
  -webkit-padding-start: 0;
  .li-sub {
    padding-left: 200px;
  }
}

.doneSub {
  background-color: rgb(129, 214, 129);
}

@media only screen and (max-width: 767px) {
  .input-group > .form-control.form-control-field {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    flex: none;
    width: 100%;
  }

  .input-group > .input-group-append.append-field > .btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .ul-sub {
    .li-sub {
      padding-left: 100px;
    }
  }

}
