.editable {
  border-color: green;
}

.editableSub {
  border-color: green;
}

.done {
  height: 30px;
  font-size: 16px;
}

ul {
  margin-top: 1rem;
  list-style: none;
}

.ul-sub {
  -webkit-padding-start: 0;
  .li-sub {
    padding-left: 200px;
  }
}

.doneSub {
  background-color: rgb(129, 214, 129);
}

//.drag-boundary
